header{
    background-color:#212121;
}
  .navbar {
    background-color:#212121;
    
  }
  nav {
    height:130px;
  }
  .navbar-nav {
    margin:auto;
  }
  .nav-link {
    margin:1rem 4rem;
    color:#cacaca;
    
  }
  .nav-link:hover {
    color:rgb(50, 50, 47);
  }
.container{
   padding: 0%;
   margin: 0%;
}
img{
    width: 100%;
    height: auto;
}
main{
    background-color: #212121;
}
.main-quote{
    color: #cacaca;
    text-align: center;
    font-size: larger;
    padding: 6%;
    border-bottom:solid #cacaca 2px;
}
footer
 {
  background-color: #333;
  padding: 2%;
  color: #432323;
  text-align: center;
}
.button-container{
  color:#cacaca ;
  font-size:50px;
  
}